@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dfe2ff;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  outline: none;
}



.App {
  width: 400px;
  height: 600px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  padding: 40px;
}

.search{
  position: relative;
  
  svg{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 17px;
    left: 20px;
    opacity: 0.4;
  }
  input{
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    font-size: 18px;
    padding-left: 45px;
  }
}

.users-list{
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  height: calc(100% - 130px);
  margin-top: 30px;

  li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    & > div{
      display: flex;
    }
    img.avatar{
      width: 50px;
      height: 50px;
      border-radius: 30px;
      margin-right: 15px;
    }
    
    h3{
      margin: 0;
      font-weight: 900;
      margin-top: 5px;
      margin-left: 0px;
      color: #182170;
    }
    p{
      display: flex;
      align-items: center;
      font-size: 16px;
      margin: 0;
      color: rgba(0, 0, 0, 0.5);
      margin-top: 3px;

      svg{
        width: 16px;
        height: 16px;
        margin-right: 5px;
        path {
          fill: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}

.send-invite-btn{
  background-color: rgb(251, 80, 0);
  padding: 15px 15px;
  color:#fff;
  border-radius: 15px;
  font-size: 16px;
  width: 100%;
  border: 0;
  box-shadow: 0 7px 10px rgb(251, 80, 0, 0.5);
  transform: all 0.1s ease-in-out;
  cursor: pointer;
  outline: none;

  &:hover{
    background-color: rgb(255, 97, 24);
  }

  &:active{
    transform: translateY(2px);
    box-shadow: none;
  }
}


// Success block
.success-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  animation: success-show 0.5s cubic-bezier(0.25, 0.75, 0.5, 1.25);

  img{
    width: 120px;
    height: 120px;
  }
  h3{
    font-size: 28px;
    margin-bottom: 0px;
    margin-top: 15px;
  }
  p{
    text-align: center;
    margin-bottom: 30px;
  }

  button{
    width: 200px;
  }
}

.skeleton-list{
  height: calc(100% - 130px);
  margin-top: 30px;
  svg{
    margin-top: 15px;
  }
}

@keyframes success-show {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

